.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .not-found-content {
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  .ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4682b4; /* Changed to blue (steelblue) */
    animation: bounce 1.5s infinite;
    margin: 0 auto;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }  